.box {
    height: 360px;
    position: relative;
    width: 640px;
  }
  
  .box .view {
    background-color: #fffbfb;
    height: 360px;
    left: 0;
    position: fixed;
    top: 0;
    width: 640px;
  }
  
  .box .overlap-group-wrapper {
    height: 163px;
    left: 251px;
    position: absolute;
    top: 107px;
    width: 159px;
  }
  
  .box .overlap-group {
    background-image: url(./ellipse-1.svg);
    background-size: 100% 100%;
    height: 163px;
    position: relative;
    width: 157px;
  }
  
  .box .text-wrapper {
    color: #00000052;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    top: 75px;
    width: 119px;
  }
  
  .box .overlap-wrapper {
    height: 60px;
    left: 9px;
    position: absolute;
    top: 12px;
    width: 299px;
  }
  
  .box .overlap {
    background-color: #d9d9d9;
    height: 60px;
    position: relative;
    width: 297px;
  }
  
  .box .div {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: 256px;
  }
  
  .box .div-wrapper {
    height: 50px;
    left: 266px;
    position: absolute;
    top: 289px;
    width: 242px;
  }
  
  .box .overlap-2 {
    height: 50px;
    position: relative;
    width: 240px;
  }
  
  .box .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    top: 0;
    width: 225px;
  }
  
  .box .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 134px;
  }
  